.new-weather {
    background-color: #788dd2;
    padding: 1rem;
    margin: 2rem auto;
    width: 25rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-weather button {
    font: caption;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #00555d;
    background-color: silver;
    color: black;
    border-radius: 12px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.new-weather button:hover,
.new-weather button:active {
    background-color: white;
    border-color: #000000;
}

.new-weather button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-weather button.alternative:hover,
.new-weather button.alternative:active {
    background-color: #ddb3f8;
}